---
layout: blogs
title: Ascend Project - Home
---

<div id="home">
  <div id="sticky">
    {% for post in site.posts %}
      {% for cat in post.categories %}
        {% if cat == 'sticky' %}
          {{ post.content }}
          <hr />
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <ul class="posts">
    {% for post in site.posts %}
      {% unless post.categories contains "course_materials" %}

          <h1><a href="{{ post.url }}">{{ post.title }}, {{ cat }}</a></h1>
          <span>{{ post.date | date_to_string }}</span> &raquo;

          {{ post.content }}

      {% endunless %}
    {% endfor %}
  </ul>
</div>
