<div>
    <a href="https://twitter.com/AscendPr0ject" class="twitter-follow-button" data-show-count="false">Follow @AscendPr0ject</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div>
    <a href="http://ascendproject.org/feed.xml" style="text-decoration: none"><img src="/images/rss-image.jpg" border="none" alt="Subscribe to RSS"/></a>
</div>
