---
layout: default
title: Bio Page for Portland Ascend Participants
---

<p>Here are the people participating in the first pilot, taking place in Portland, OR
	from Sept 8th, 2014 - Oct 17th, 2014. Watch for blog posts and more coming soon from all of them.</p>

			{% for participant in site.data.portland_participants.participants %}
			<div id="userBio">
				
				
				<div class="data">
					<h1>{{ participant.name }}</h1>
					<h3>{{ participant.homebase }}</h3>
					
					{% if participant.webpage %}
					<h4><a href="{{ participant.webpage }}">{{ participant.webpage }}</a></h4>
					{% endif %}

					{% if participant.social_media %}
					<div class="socialMediaLinks">
						<a href="http://github.com/{{ participant.github }} " rel="me" target="_blank"><img src="img/twitter.png" alt="@jakerocheleau" /></a>
						<a href="http://gowalla.com/users/JakeRocheleau" rel="me" target="_blank"><img src="img/gowalla.png" /></a>
					</div>
					{% endif %}
				</div>
				
			{% if participant.bio %}
			<p><div class="pic" style="display:inline">
					<a href="#"><img src="/images/{{ participant.image }}" width="150" /></a>
			</div>{{ participant.bio }}</p>
			{% else %}
			<p><div class="pic" style="display:inline">
					<a href="#"><img src="/images/{{ participant.image }}" width="150" /></a>
			</div>We need a bio for this person!</p>
			{% endif %}

			{% if participant.badges %}
				<div class="head"><h3>Badges(0)</h3></div>
				<div class="boxy">
					<p>Keep working to unlock badges!</p>
					
					{% for badge in particpant.badges %}
					<div class="badgeCount">
						<a href="#"><img src="img/badge.png" /></a>
					</div>
					{% endfor %}
					<span><a href="#">See all!</a></span>
				</div>
				</div>
			{% endif %}

			<hr />
		{% endfor %}