<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ site.homeurl }}"><h1> {{ site.title }}</h1></a>
        <h2>{{ site.description }}</h2>
        <a href="mailto:{{ site.email }}?Subject=[ascendproject] Inquiry from Website" class="button">Contact Us!</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          <nav class="nav-primary" role="navigation">
            <ul>
                {% for link in site.navigation %}
                {% if page.url == link.url %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{{link.url}}">{{link.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>

          <div class="sponsor">
            <p>The Ascend Project is generously funded by:</p>
            <a href="http://mozilla.org"><img src="{{ site.baseurl }}/images/mozilla_wordmark_small.png" alt="Mozilla Wordmark" /></a>
            <p>All content for this site lives on <a href="{{ site.github }}">GitHub</a>, suggestions & bug reports welcomed.</p>
          </div>
          {% include social.html %}
        </aside>
      </div>
    </div>
    {% include footer.html %}
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'ascendproject'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
  </body>
</html>
